<h1>Register</h1>

<div ng-show="error" class="error">
  <span>{{ error.error }}</span>
</div>

<form ng-submit="register()">
  <input placeholder="username" ng-model="user.username" required>
  </br>
  <input type="email" placeholder="email" ng-model="user.email" required>
  </br>
  <input placeholder="password" type="password"
   ng-model="user.password" required>
  </br>
  <button type="submit" ng-submit="register">sign up!
  </button>
</form>

<p>already have an account?</br>
  <a ui-sref="login">click here to login!</a>
</p>

<p>or <a ui-sref="home">continue anonymously</a></p>